/********************************
PROFILE FORMS
********************************/
#p-alter-password-form,
#p-edit-profile-form {
    h5 {
        color: $darker;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .btn-primary {
        float: right;
    }
}

/********************************
QR CODE
********************************/
.s-qrcode {
    width: 55%;
    min-height: 100px;
    margin-bottom: $m5;
}

/********************************
RECOVERY CODES
********************************/
.s-recovery-codes {
    width: 70%;
    min-height: 100px;
    margin-bottom: $m5;
    padding: $m2 $m2;
    background-color: $drkWhite;
    border-radius: 6px;

    ul {
        padding: 0;
    }

    li {
        margin-bottom: $m;
        color: $grey;
        font-size: 1.35rem;
        font-weight: 400;
        letter-spacing: $ls;
    }
}
