/********************************
MANAGE ITEMS / ACCESS LANGUAGES
********************************/
.g-manage-items,
.g-current-languages {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 25px;
    margin-bottom: $m1 * 1.75;
}

.g-manage-items {
    width: $max;

    .btn-mini {
        width: 32px;
        height: 32px;
        margin-left: $m1 * 1.25;
        line-height: 26px;
    }
}

.g-current-languages {
    width: 60%;

    .btn-mini {
        width: 30px !important;
        height: auto;
        margin-left: $m1 * 1.5;
        padding: 0 !important;
        line-height: 18px;
        border-radius: 4px;
        img {
            width: $max;
            height: auto;
            border-radius: 4px;
        }
    }
}